.create-annonce{
    background-color: var(--bluecolor);
    height: 80vh;
}

.create-annonce >h1{
   color: var(--yellowcolor);
   text-align: center;
}

/* Version PC */
@media only screen and (min-width : 1025px) {
    .create-annonce {
        padding-top: 124px;
    }
}

/* Version Tablette */
@media only screen and (min-device-width : 481px) and (max-device-width : 1024px) {
    .create-annonce {
        padding-top: 124px;
    }
}

/* Version Mobile */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .create-annonce {
        padding-top: 124px;
    }
}