.manage-announce{
background-color: var(--bluecolor);
}

/* Version PC */
@media only screen and (min-width : 1025px) {
    .manage-announce {
        padding-top: 124px;
    }
}

/* Version Tablette */
@media only screen and (min-device-width : 481px) and (max-device-width : 1024px) {
    .manage-announce {
        padding-top: 124px;
    }
}

/* Version Mobile */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .manage-announce {
        padding-top: 124px;
    }
} 