.edit-annonces{
    background-color: var(--bluecolor);
    height: 80vh;
}
.edit-annonces >h1{
    text-align: center;
    color: var(--yellowcolor);
}
.holotitle {
    color: var(--bluecolor);
}

.btn-editannonce{
    background-color: var(--redcolor);
    border-radius: 10px;
    padding: 5px 5px;
    border: none;
    margin: auto;
    width: 190px
    
}
/* Version PC */
@media only screen and (min-width : 1025px) {
    .edit-annonces {
        padding-top: 124px;
    }
}

/* Version Tablette */
@media only screen and (min-device-width : 481px) and (max-device-width : 1024px) {
    .edit-annonces {
        padding-top: 124px;
    }
}

/* Version Mobile */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .edit-annonces {
        padding-top: 124px;
    }
}