.signup {
    background-color: var(--bluecolor);
    text-align: center
}

.title-signup {
    color: var(--yellowcolor);
}




/* Version PC */
@media only screen and (min-width : 1025px) {
    .signup {
        padding-top: 124px;
    }
}

/* Version Tablette */
@media only screen and (min-device-width : 481px) and (max-device-width : 1024px) {
    .signup {
        padding-top: 124px;
    }
}

/* Version Mobile */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .signup {
        padding-top: 124px;
    }

    .yellow-box-signup {
        width: 310px;
        margin: auto;
        background-color: var(--yellowcolor);
    }


    .title-signup{
        margin: 30px auto;
    }
    
    .form-signup {
        width: 300px;
        display: flex;
        flex-direction: column;
        margin: auto;
        color: var(--redcolor);
    }

    .form-signup > label{
        margin: 10px auto;
    }
    .btn-signup{
        margin: 30px;
    }

}