@import url('./header.css');
@import url('./footer.css');
@import url('./about.css');
@import url('./annonce.css');
@import url('./associations.css');
@import url('./contact.css');
@import url('./home.css');
@import url('./annonce-card.css');
@import url('./associations-card.css');
@import url('./vars.css');
@import url('./DashBoard-Style/dashboard.css');
@import url('./DashBoard-Style/messagerie.css');
@import url('./DashBoard-Style/createannonce.css');
@import url('./DashBoard-Style/manageannounce.css');
@import url('./DashBoard-Style/editprofile.css');
@import url('./LoginSignup/loginpagesignin.css');
@import url('./LoginSignup/signup.css');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
};

