.asso-main {
    background-color: var(--bluecolor)
}
.associations-main-name{
color: var(--yellowcolor);
text-align: center;
}
.associations {
   padding-bottom: 30px;
}
/* Version PC */
@media only screen and (min-width : 1025px) {
    .asso-main {
        padding-top: 124px;
    }
    .associations {
        padding-top: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 20px;
        align-items: stretch;
    }
}





/* Version Tablette */
@media only screen and (min-device-width : 481px) and (max-device-width : 1024px) {
    .asso-main {
        padding-top: 124px;
    }
    .associations {
        padding-top: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 20px;
        align-items: stretch;
    }
}

/* Version Mobile */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .asso-main {
        padding-top: 124px;
    }

    .associations {
        padding-top: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 20px;
        align-items: stretch;
    }
}