/* Version PC */
@media only screen and (min-width : 1025px) {

    .association-img {
        width: 200px;
        height: 130px;
    }
}


/* Version Tablette */
@media only screen and (min-device-width : 481px) and (max-device-width : 1024px) {

    .association-img {
        width: 200px;
        height: 130px;
    }
}

/* Version Mobile */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .association-card {
        border: solid 2px var(--redcolor);
        border-radius: 10px;
        max-height: 300px;
        max-width: 220px;
        padding: 20px;
        overflow: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .association-conteneur {
        display: block;
        margin: auto;

    }

    .association-name {
        color: var(--yellowcolor);
        font-size: 20px;
    }

    .user-associated {
        font-size: 17px;
    }

    .fig-img-association {
        padding-bottom: 10px;
    }

    .association-img {
        width: 200px;
        height: 130px;
    }

    .theme-asso {
        font-size: 17px;
    }

    .street-area-number {
        font-size: 15px;
    }

    .asso-description {

        font-size: 17px;

    }


}