/* Version PC */
header {
    position: fixed;
    height: 10vh;
    min-height: 124px;
    width: 100%;
    background-color: var(--bluecolor);
    border-bottom: var(--graycolor) 1px solid;
}

.header {
    margin-bottom: 124px
}

.logo-header {
    max-height: 90px;
    margin: 15px 0;
}

header ul {
    list-style: none;
    text-decoration: none;
    padding: 30px 10px;
    color: var(--yellowcolor)

}


.nav-links {
    flex-direction: row;
    float: right;
    padding: 50px 60px 30px 0;
    color: var(--yellowcolor)

}

.nav-links>li {
    height: 3vh;
    display: inline-block;
    margin-right: 25px;
    color: var(--yellowcolor)

}

.nav-links>li>a {
    color: var(--yellowcolor);
    text-decoration: none;
    color: var(--yellowcolor)

}

/* Version Tablette */
@media only screen and (min-device-width : 481px) and (max-device-width : 1024px) {
    header {
        background-color: var(--bluecolor)
    }
}

/* Version smartphone */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    header {
        background-color: var(--bluecolor)
    }


    .logo-header {
        max-height: 90px;
        display: block;
        margin: auto;
    }
}